setuptools
onnxruntime
torch
transformers
accelerate
unidecode
numpy
scipy

librosa
encodec
phonemizer
g2p_en
jieba
cn2an
pypinyin
#LangSegment
pyopenjtalk
pykakasi

json5
black
ruamel.yaml
tqdm

spaces
gradio
openai-whisper
indic-numtowords
